.socialbtn {
  border: 1px solid #29b8f6;
  color: #29b8f6 !important;
  border-radius: 8px;
  padding: 5px 12px;
  width: max-content;
  cursor: pointer;
}
.rainbow{
  background-image: url('../../public/rainbow.png');
  background-size: 100% 100%;
}
.radius{
  border-radius: 0px 0px 0px 40px !important;
}
.radius2{
  border-radius: 0px 0px 40px 0px !important;
}
.component__div{
  background-image: url('../../public/component.png');
  height: 400px;
  width: 100%;
  border-radius: 30px;
  padding: 30px;
}
.border__div{
  border: 3px dashed #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute__img{
  position: absolute;
  top: 15%;
  padding: 20px;
  left: -8%;
}
@media (max-width:991px) {
  .fs__5{
    font-size: 15px !important;
  }
  .absolute__img{
    position: static;
    top: 0%;
    left: -8%;
  }
  .vh-100{
    height: max-content !important;
  }
  .radius{
    border-radius:  40px !important;
  }
  .radius2{
    border-radius: 40px !important;
  }
  .component__div{

    padding: 15px;
  }
  .border__div{
    padding: 10px;
  }
}